<div class="card shadow mb-2 bg-white rounded login-card-size center w-50">
  <div class="card-header">
    <span class="font-weight-bold">Manage Page Users</span>
  </div>
  <div class="card-body justify-content-center">
    <nav aria-label="breadcrumb" class="align-middle">
      <ol class="breadcrumb p-2">
        <li class="breadcrumb-item mb-1"><a routerLink="/showPage/{{pageName}}">{{pageName}}</a></li>
        <li class="breadcrumb-item mb-1"><a routerLink="/updatePage/{{pageName}}">Update</a></li>
        <li class="breadcrumb-item mb-1 active" aria-current="page">Users</li>
      </ol>
    </nav>
    <div style="overflow-y: auto; max-height: 350px">
      <table class="table table-striped m-0 table-hover">
        <thead>
        <tr>
          <th scope="col">Username
            <div class="d-inline-flex">
              <input #filter (input)="filterUsers(filter.value)"
                     class="form-control form-control-sm w-75 d-inline-block ml-1 rounded-right-0 border-right-0 rounded-left"
                     placeholder="Search">
              <span class="input-group-append">
                <div class="input-group-text bg-transparent border-left-0 rounded-left-0 rounded-right"><i
                  class="fa fa-search"></i></div>
            </span>
            </div>
          </th>
          <th scope="col" class="centerText"><span>Add User</span></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of filteredUsers">
          <td class="w-75">
            <span>{{user}}</span>
          </td>
          <td class="w-25">
            <button *ngIf="!curPageUsers.includes(user)" type="submit"
                    (click)="addUser(user)" class="btn btn-sm btn-block btn-primary float-right">Add
            </button>
            <button *ngIf="curPageUsers.includes(user)" type="submit" (click)="removeUser(user)"
                    class="btn btn-sm btn-block btn-danger float-right">Remove
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <button class="btn mt-2 btn-success float-right" (click)="updatePageUsers()">Save</button>
  </div>
</div>
