<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Update password</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <form [formGroup]="passwordForm" (ngSubmit)="updatePassword()">
        <div class="form-group">
          <div class="row">
            <label for="password" class="col-sm-5 col-form-label display-flex">Password:</label>
            <input [type]="fieldTextType ? 'text' : 'password'"
                   id="password" formControlName="password" ngbAutofocus
                   class="form-control form-control-sm col-sm-6">
            <i
              class="fa position-relative m-auto"
              [ngClass]="{
                    'fa-eye-slash': !fieldTextType,
                    'fa-eye': fieldTextType
                  }"
              (click)="toggleFieldTextType()">
            </i>
          </div>
          <div class="row">
            <label for="passwordConfirm" class="col-sm-5 col-form-label display-flex">Confirm password:</label>
            <input type="password" id="passwordConfirm" formControlName="passwordConfirm"
                   class="form-control form-control-sm col-sm-6">
            <small class="text-muted ml-3">* Password must contain at least 1 capital letter & 1 number.</small>
            <small class="text-muted ml-3">* Password must be 8-15 characters.</small>
            <div
              *ngIf="passwordForm.invalid && passwordForm.get('passwordConfirm').dirty"
              class="invalid-feedback ml-3"
              style="display: inline !important;">
              * Passwords do not match.
            </div>
            <br>
            <div
              *ngIf="passwordForm.invalid && passwordForm.get('password').invalid && passwordForm.dirty"
              class="invalid-feedback ml-3"
              style="display: inline !important;">
              * Password isn't strong enough.
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" [disabled]="!passwordForm.valid" class="btn btn-outline-dark"
            (click)="modal.close('Save click'); updatePassword()">Update
    </button>
  </div>
</ng-template>
