<div class="card shadow mb-2 bg-white rounded login-card-size center w-50">
  <div class="card-body justify-content-center">
    <div class="card-text text-center mt-0 ml-4 mr-4 mb-4">
      <img class="mb-2" src="assets/output-onlinepngtools.png" style="height: 75px">
      <h3>Welcome to Corvus Generators!</h3>
      Corvus Generators is a powerful yet simple-to-use tool for creating questionnaires,
      managing them, and serving them for your audience to use.
      The website comes with a full on role-based users system,
      which allows you to integrate the questionnaires managements with your own company roles! <br>
      For any help necessary, you can contact me using the contact info bellow. <br>
      <br>
      <strong>Enjoy!</strong>
      <br>
      <br>
      <small class="text-muted">All rights reserved to Tal and the rest of the contact
        info bellow. Copying the website, or any part of it, is an offence, and will lead to actions against <br>
        the offender. Any misuse of the website will lead to a ban from it.</small>
    </div>
  </div>
</div>
