<div class="card shadow mb-2 bg-white rounded login-card-size center w-50">
  <div class="card-body justify-content-center">
    <p class="card-text text-center">
      Welcome to Corvus Generators - a powerful yet simple to use tool for creating questionnaires,
      managing them, and giving them to your audience to use, while manipulating the answers to your use.
      The website comes with a full on role-based users system, which allows you to integrate the questionnaires managements
      with your own company roles!
      For any help necessary, you can contact me using the contact info bellow.
      Enjoy!
      <br>
      <small>Any misuse of the website will lead to a ban from it. All rights reserved to Tal and the rest of the contact
      info bellow. Copying the website, or any part of it, is an offence.</small>
    </p>
  </div>
</div>
