<div class="card shadow mb-2 bg-white rounded login-card-size center w-50">
  <div class="card-header">
    <span class="font-weight-bold">Manage Page Admin</span>
  </div>
  <div class="card-body justify-content-center">
    <nav aria-label="breadcrumb" class="align-middle">
      <ol class="breadcrumb p-2">
        <li class="breadcrumb-item mb-1"><a routerLink="/showPage/{{pageName}}">{{pageName}}</a></li>
        <li class="breadcrumb-item mb-1"><a routerLink="/updatePage/{{pageName}}">Update</a></li>
        <li class="breadcrumb-item mb-1 active" aria-current="page">Admin</li>
      </ol>
    </nav>
    <div style="overflow-y: auto; max-height: 350px">
      <table class="table table-striped m-0 table-hover">
        <thead>
        <tr>
          <th scope="col">Username</th>
          <th scope="col" class="centerText"><span>Assign Admin</span></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let admin of availableAdmins">
          <td class="w-75">
            <span>{{admin}}</span>
          </td>
          <td class="w-25">
            <button *ngIf="curAdmin !== admin" type="submit"
                    (click)="updateAdmin(admin)" class="btn btn-sm btn-block btn-primary float-right">Assign
            </button>
            <button *ngIf="curAdmin === admin" type="submit" class="btn btn-sm btn-block btn-success float-right"
                    disabled>
              Current Admin
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

