<h2>pam pam pam</h2>
<div>
  Hello {{this.authService.getUsername()}}
  <button (click)="logout()" *ngIf="this.authService.isLoggedIn" type="button">Logout</button>
</div>
<div>
  <nav>
    <a routerLink="main">Main</a>
    <------->
    <a routerLink="choosePage">Choose Page</a>
    <------->
    <a routerLink="createPage">Create Page</a>
    <------->
    <a routerLink="addUser">Add User</a>
    <ng-container *ngIf="!this.authService.isLoggedIn">
      <------->
      <a routerLink="login">Login</a>
    </ng-container>
  </nav>
  <br>
  <router-outlet></router-outlet>
  <br>
  <br>
</div>
