<h3>Create Form</h3>
<button class="btn btn-outline-primary btn-sm m-1" type="button" (click)="addNewDropBoxQuestion()">Add new DropBox
</button>
<button class="btn btn-outline-primary btn-sm m-1" type="button" (click)="addNewTextBoxQuestion()">Add new TextBox
</button>
<button class="btn btn-outline-primary btn-sm m-1" type="button" (click)="addEditor()">Add new Editor</button>
<button class="btn btn-outline-primary btn-sm m-1" type="button" (click)="addThreadsGenerator()">Add threads generator
</button>
<br><br>
<form [formGroup]="formForm" (focusout)="formChanged()" (change)="formChanged()">
  <div formArrayName="questions" style="overflow-y: auto; overflow-x: hidden; max-height: 475px">
    <table class="table table-striped m-0 table-hover">
      <tbody>
      <div *ngFor="let q of formForm.get('questions')['controls']; let i=index">
        <tr class="form-group row" id="row-{{i}}">
          <td class="col-sm-9 col-form-label ml-3 p-0 w-100 unselectable" (click)="setCollapsed(i)">
            <div style="cursor: pointer" class="p-3">
              <strong>Question {{i + 1}}</strong> [{{q.get('questionType').value}}]
              <button type="button" class="btn btn-sm btn-outline-danger ml-2" (click)="deleteQuestion(i)">Delete
                Question
              </button>
            </div>
          </td>
          <td class="w-75" [@smoothCollapse]="(isCollapsed !== i)? 'initial' : 'final'">
            <div [formGroupName]="i">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label ml-4 pr-1">Name:<span
                  class="text-danger">*</span></label>
                <div class="col-sm-7 pl-0">
                  <input type="text" class="form-control" formControlName="questionName">
                </div>
              </div>
              <div class="form-group row" [hidden]="q.get('questionType').value === 'threads'">
                <label class="col-sm-3 col-form-label ml-4 pr-1">Description:<span
                  class="text-danger">*</span></label>
                <div class="col-sm-7 pl-0">
                  <input formControlName="desc" class="form-control"/>
                </div>
              </div>
              <div class="form-group row" [hidden]="q.get('questionType').value === 'threads'">
                <label class="col-sm-3 col-form-label ml-4 pr-1">Order:<span class="text-danger">*</span></label>
                <div class="col-sm-7 pl-0">
                  <input formControlName="order" type="number" class="form-control" min="0"
                         oninput="validity.valid||(value='');">
                </div>
              </div>
              <div class="form-group row" [hidden]="q.get('questionType').value === 'threads'">
                <label class="col-sm-3 col-form-label ml-4 pr-1">Required?</label>
                <div class="col-sm-7 pl-0">
                  <div class="custom-control custom-checkbox" style="top:20%">
                    <input type="checkbox" id="required-{{i}}" class="custom-control-input" formControlName="required">
                    <label class="custom-control-label" for="required-{{i}}"></label>
                  </div>
                </div>
              </div>
              <div formArrayName="questionLabels" *ngIf="q.get('questionLabels')">
                <div *ngIf="q.get('questionType').value === 'dropBox'">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label ml-4 pr-1">Keys:</label>
                    <div class="col-sm-7 pl-0">
                      <input formControlName="keys" class="form-control"/>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label ml-4 pr-1">Values:</label>
                    <div class="col-sm-7 pl-0">
                      <input formControlName="values" class="form-control"/>
                    </div>
                  </div>
                  <div class="form-group row">
                    <small class="col-sm-9 col-form-label ml-4 pr-1">*To add options-group, start key and value with
                      '~~'</small>
                  </div>
                </div>

                <div *ngIf="q.get('questionType').value === 'textBox'">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label ml-4 pr-1">Input type:<span
                      class="text-danger">*</span></label>
                    <div class="col-sm-7 pl-0">
                      <select formControlName="boxType" class="form-control dropdown-toggle">
                        <option value="text">text</option>
                        <option value="number">number</option>
                        <option value="url">url</option>
                        <option value="email">email</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div *ngIf="q.get('questionType').value === 'threads'">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label ml-4 pr-1">Forum ID:<span class="text-danger">*</span></label>
                    <div class="col-sm-7 pl-0">
                      <input formControlName="forumId" class="form-control" type="number"/>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </div>
      </tbody>
    </table>
  </div>
</form>
<hr/>
<h3>Create Template</h3>
<app-update-template [questionsForm]="formForm" (editorContentEvent)="updateTemplate($event)"></app-update-template>
