<h1>Create Form</h1>
<button type="button" (click)="addNewDropBoxQuestion()">Add new DropBox</button>
<button type="button" (click)="addNewTextBoxQuestion()">Add new TextBox</button>
<button type="button" (click)="addEditor()">Add new Editor</button>
<br><br>
<form [formGroup]="formForm" (change)="formChanged()">
  <div formArrayName="questions">
    <div *ngFor="let q of formForm.get('questions')['controls']; let i=index">
      <fieldset>
        <legend><h3>Question {{i + 1}}; Type: {{q.get('questionType').value}}</h3></legend>
        <div [formGroupName]="i">
          <span><button type="button" (click)="deleteQuestion(i)">Delete Question</button></span>
          <br>
          <label>Question Name: </label>
          <input formControlName="questionName"/>
          <br>
          <label>Required?</label>
          <input formControlName="required" type="checkbox">
          <br>
          <label>Order:</label>
          <input formControlName="order" type="number">
          <br>
          <label>Question desc:</label>
          <input formControlName="desc"/>
          <br>
          <div formArrayName="questionLabels" *ngIf="q.get('questionLabels')">
            <fieldset>
              <legend><h4>QuestionLabel</h4></legend>
              <div *ngIf="q.get('questionType').value === 'dropBox'">
                <label>Forums:</label>
                <input formControlName="keys"/>
                <br>
                <label>Values:</label>
                <input formControlName="values"/>
                <br>
                <span>*To add options-group, start key and value with '~~'</span>
              </div>

              <div *ngIf="q.get('questionType').value === 'textBox'">
                <label>Question box type:</label>
                <select formControlName="boxType">
                  <option value="text">text</option>
                  <option value="number">number</option>
                  <option value="url">url</option>
                  <option value="email">email</option>
                </select>
                <br>
              </div>
            </fieldset>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
  <br>
</form>

<pre>{{formForm.value | json}}</pre>

<h3>Create Template</h3>
<app-update-template [questionsForm]="formForm" (editorContentEvent)="updateTemplate($event)"></app-update-template>
