<div class="card shadow mb-2 bg-white rounded login-card-size center w-50">
  <div class="card-header">
    <span class="font-weight-bold">Manage Users</span>
  </div>
  <div class="card-body justify-content-center">
    <div>
      <form [formGroup]="addUserForm" (ngSubmit)="registerUser()">
        <strong>Add User</strong>
        <div class="form-group row">
          <div class="col-sm-10">
            <label for="username" class="col-sm-2 col-form-label display-flex p-1">Username:</label>
            <input type="text" id="username" formControlName="username">
            <button type="submit" [disabled]="!addUserForm.valid" class="btn btn-sm btn-primary ml-2 mb-2">Add
            </button>
            <small class="form-text text-muted">* initial password is 123456789.</small>
            <div *ngIf="addUserForm.invalid && addUserForm.get('username').errors.availability"
                 class="invalid-feedback"
                 style="display: inline !important;">
              * Username taken
            </div>
          </div>
        </div>
      </form>
    </div>
    <hr/>
    <div>
      <strong>Available Users:</strong>
      <small class="form-text text-muted">(users who updated their initial password)</small>
      <div style="overflow-y: auto; max-height: 250px">
        <table class="table table-striped m-0 table-hover">
          <tbody>
          <ng-container *ngFor="let user of allAvailableUsers">
            <tr>
              <td class="w-50">
                {{user}}
              </td>
              <td class="w-100">
                <div class="w-100">
                  <button type="submit" (click)="resetPassword(user)" class="btn btn-sm btn-warning m-1 float-right"
                          *ngIf="authService.getUsername() === user || isVisible(['admin', 'master'])">Reset Password
                  </button>
                </div>
              </td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>
    </div>
    <hr/>
    <div>
      <strong>All Users:</strong>
      <div style="overflow-y: auto; max-height: 250px">
        <table class="table table-striped m-0 table-hover">
          <tbody>
          <ng-container *ngFor="let user of allUsers">
            <tr>
              <td>
                {{user}}
              </td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
