<div class="col p-0" *ngIf="getQuestionsNames() && getQuestionsNames().length > 0">
  <div ngbDropdown placement="top-left" class="d-inline-block">
    <button type="button" class="btn btn-outline-dark" ngbDropdownToggle>Placeholders</button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic2" style="overflow-y: auto; max-height: 250px">
      <button type="button" class="mr-1" ngbDropdownItem *ngFor="let name of getQuestionsNames()"
              (click)="copyQuestionNameTag(name)">
        <ng-container *ngIf="name && name !== '-key'">{{name}}</ng-container>
      </button>
    </div>
  </div>
  <br>
  <small class="text-muted ml-2" *ngIf="getQuestionsNames() && getQuestionsNames().length > 0">* placeholders for
    question
    values</small>
</div>
<div [hidden]="!loadingEditor">
  <div class="d-flex justify-content-center">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>
<editor
  apiKey="7rik87l5mbjjvopdrq17ut7qqs589m67f2j2funranzgjz8l"
  id="bbCodeEditor"
  (onFocusOut)="updateEmitter()"
  [(ngModel)]="editorContent"
  [initialValue]="editorContent"
  [init]="{
        height: 500,
        menubar: true,
        plugins: [
          'advlist autolink lists link image charmap print preview anchor',
          'searchreplace visualblocks code fullscreen',
          'insertdatetime media table paste code help wordcount'
        ],
        toolbar:
          'undo redo | bold italic underline |' +
          'fontselect fontsizeselect |' +
          'alignleft aligncenter alignright alignjustify | ' +
          'numlist bullist |' +
          'forecolor backcolor |'+
          'ltr rtl |' +
          'table media link image |' +
          'outdent indent | removeformat | preview',
        forced_root_block : '',
        entity_encoding : 'raw'
   }"></editor>
